1 ^Стоимость^
2 ^Количество друзей^

// tooltips
3 ^Создать новую семью^
4 ^Поселить семью^
5 ^Удалить семью^
6 ^Отменить^

// for the dialog
7 ^Удалить семью?^
8 ^Вы уверены что хотите удалить семью "%s"?^

// not actually used yet, but will be
9 ^Выбрать семью^
10 ^Отменить^

11 ^Средства^
12 ^Количество друзей^



13 ^Personality for %s^

14 ^Как создать семью^
15 ^Вы можете создать новую семью нажав кнопку Создать семью в нижней части экрана^

16 ^Вернуться к экрану с соседями^

17 ^Нажмите чтобы создать новую семью^
