
The next 5 are tool tips
1 ^Добавить Сима^
2 ^Удалить Сима^
3 ^Редактировать Сима^
4 ^Принять изменения^
5 ^Отменить^

6 ^Удалить персонажа?^
7 ^Вы уверены что хотите удалить этого персонажа?^

8 ^Отменить?^
9 ^Вы уверены что хотите отменить и потерять эту семью?^

// not actually used yet, but will be
10 ^СОЗДАТЬ СЕМЬЮ^
11 ^Готово^
12 ^Отменить^

13 ^Введите фамилию:^

14 ^Готово?^
15 ^Вы точно готовы?  Вы не сможете редактировать эту семью опять.^