
tooltips

^Взрослый^
^Ребёнок^
^Женщина^
^Мужчина^
^Тёмный^
^Средний^
^Светлый^
^Предыдущее тело^
^Следующее тело^
^Предыдущая голова^
^Следующая голова^
^Готово^
^Отменить^

^Нету личности!^
^Вы уверены что хотите создать %s без личности?^

// not used yet, but will be:
^СОЗДАТЬ ПЕРСОНАЖА^
^ЛИЧНОСТЬ^
^Аккуратный^
^Общительный^
^Активный^
^Игривый^
^Приятный^
^ГОТОВО^
^ОТМЕНИТЬ^
^БИОГРАФИЯ^
^Биография %s^

^Введите имя:^
^Астрологический знак^