
kEvictHouseXXX
^Уничтожить дом?^
^Вы хотите снести этот дом?^

kEvictFamilyXXX
^Выселить семью?^
^Семья %s имеет %s симолеонов.  Вы хотите выселить её?^

kEvictNothingXXX
^Ничего разрушить^
^Тут ничего нету, чтобы разрушать.^

kEvictCommunityXXX
^Общественные места^
^Вы не можете сносить общественные места.^

kEvictMarqueeXXX
^Простите^
^Вы не можете снести SimEstates.^

kEvictCountNotXXX
^Ошибка^
^Нельзя выселить!^

^Простите^
^Вы не можете снести обучающий лот.^