^Купить дом?^
^Вы уверены что хотите купить этот дом?^

^Простите!^
^Ваша семья не может позволить себе этот дом.^

^Поздравляем!^
^Вы купили его.^

^Купить лот?^
^Вы хотите купить лот?^

^Купить готовый дом?^
^Вы хотите купить готовый дом?^

^Простите^
^Сначала вы должны разместить свою семью в доме^

^Общественное место^
^Вы не можете поселить семью в общественных местах.^

^Дом занять^
^Дом занят другой семьей.^

^Обучающий дом^
^Это дом для обучения.  Семьи не могут поселиться в нём.^

^Ошибка!^
^Нельзя поселиться!^

^Дом переполнен!^
^Дом слишком переполнен чтобы зайти в него.^